:root {
    --color-brand-primary: #e95738;
    --color-brand-accent: #69c3de;
    --color-brand-accent-dark: #4255b8;
    --color-border: black;
    --color-text-white: #f5fcfe;
    --color-background-white: #def2fa;
    --color-box-shadow: rgba(80, 60, 60, 0.5);
}