.banner {
    margin-bottom: 4rem;
    text-align: center;
    padding: 1.6rem;
    color: var(--color-text-white);
    background-color: var(--color-brand-accent);
    box-shadow: 0.1rem 0.1rem 2rem black;

}